

img {
    height: 60vh;
    width: 80%;
}
li{
    list-style-type:none;
    padding: 0;
}

div{
    text-align: center;
}

button{
    height :50px;
    width:150px;
    font-size: large;
    padding: 10px;
    border-radius: 10px;
    border:2px solid rgb(4, 4, 67) ;
    margin: 0px 10px 0px 10px;

}

.items h2{
    color:#2e1e1e;
}

h2{
    color: blue;
}